@page
@model SchoolSystem.Pages.Errors.ErrorPageModel
@{
    ViewData["Title"] = "Page Not Found";
}


<div class="container text-center">
    <h1 class="display-4">Oops! Page Not Found</h1>
    <p class="lead">We're sorry, but the page you are looking for doesn't exist.</p>
    <a class="btn btn-primary" href="/">Go to Homepage</a>
</div>