@page
@model SchoolSystem.Pages.Admin.AddSubjectModel
@{
}


@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}

<select class="form-control">
	@foreach(var subject in Model.Subjects)
	{
		<option value="@subject.SubjectId">@subject.SubjectName</option>
	}
</select>

<form method="post">
	<div class="form-group">
		<label>Subject Name</label>
		<input name="NewSubject.SubjectName" class="form-control" placeholder="Enter subject name" />
	</div>	
	<button type="submit" class="btn btn-primary">Add</button>
</form>