@page
@model SchoolSystem.Pages.Admin.ManageUserRolesModel
@{
    // Ensure Model.StudentRoleViewModels is initialized and populated in the corresponding PageModel
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">User ID</th>
            <th scope="col">User Name</th>
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.StudentRoleViewModels)
        {
            <tr>
                <th scope="row">@student.StudentId</th>
                <td>@student.UserId</td>
                <td>@student.UserName</td>
                <td>
                    @if (student.Roles != null && student.Roles.Any())
                    {
                        @string.Join(", ", student.Roles.Select(r => r.RoleName))
                        // Display roles as a comma-separated list of RoleNames
                    }
                    else
                    {
                        <span>No Roles</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>