@page "{id:int}"
@model ClassModel
@{
}



<h1>Class details:</h1>

<h2>@Model.SchoolClass.ClassName</h2>

<ul>
    @foreach (var student in Model.ClassStudents)
    {
        <li>
            <a asp-page="/Students/Details" asp-route-StudentId="@student.StudentId">
                @student.FirstName @student.LastName
            </a>
        </li>
    }
</ul>