@page
@model SchoolSystem.Pages.Class.indexModel
@{
}

<h1>Klasser:</h1>


<table class="table">
	<tbody>
		<tr>
		@foreach (var Class in Model.SchoolClasses)
		{
			
				<td>
					<a asp-page="./Class" asp-route-id="@Class.ClassId" >@Class.ClassName</a>
				</td>

		}
		</tr>
	</tbody>
</table>

<ul>
	
</ul>
